## Unit - 5 Mutable Data Structures (15 Marks)
- list,dictionary and set
- frozenset, lamda function

##

## LIST
- A mutuable, iterable, dynamic data structure
- It supports indexing and slicing 
- Duplicate members are allowed
- mixed datatypes are also allowed

## Craeting List

In [1]:
l = []
m = list()
n = [2,3,4,5]
o = list('python')
p = list((3,4,5))
print(l,m,n,o,p)

[] [] [2, 3, 4, 5] ['p', 'y', 't', 'h', 'o', 'n'] [3, 4, 5]

In [2]:
l = [5]
type(l)

list

In [3]:
t = (5)
type(t)

int

## Mutability
- it allow to change the value of list
- tuple will not allow this

In [4]:
l = [4,5,6,7]
l[0] = 800
print(l)

[800, 5, 6, 7]

## Indexing And slicing
- syntax same as tuple and string

In [5]:
k = [5,6,7,8,9,10]
print(k[:])
print(k[::])
print(k[::-1])
print(k[1::2])
print(k[-1:-4])
print(k[-1:-4:-1])

[5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5]
[6, 8, 10]
[]
[10, 9, 8]

## Accesing Help inLine

In [6]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

## 1D,2D,3D List

In [7]:
l = [1,2,3]
m = [[4,5,6],[7,8,9]]
n = [[[10,11,12],[13,14,15]]]
print(l)
print(m)
print(n)

[1, 2, 3]
[[4, 5, 6], [7, 8, 9]]
[[[10, 11, 12], [13, 14, 15]]]

In [8]:
l[0]

1

In [9]:
m[0][0]

4

In [10]:
n[0][0][0]

10

## list is ...

In [11]:
l = [6,7,8,9]
print(l)
print(id(l))
print(id(l[0]))
print(id(l[-1]))

[6, 7, 8, 9]
2391630354624
140734206977984
140734206978080

## copy

In [12]:
l = [3,4,5,6]
m = l[:]
m[0] = 100
print(m)
print(l)

[100, 4, 5, 6]
[3, 4, 5, 6]

## direct references

In [13]:
l = [3,4,5,6]
m = l
m[0] = 100
print(m)
print(l)

[100, 4, 5, 6]
[100, 4, 5, 6]

## delete

In [14]:
l = [4,5,6]
del l
print(l)

NameError: name 'l' is not defined

In [19]:
l = [4,5,6]
del l[0]
print(l)

[5, 6]

## list method

In [20]:
l = [4,5,6,7,8]

## append
- it returns none
- add object in end
- append() takes exactly one argument

In [21]:
l.append??

In [22]:
print(l)

[4, 5, 6, 7, 8]

In [23]:
l.append(800)

In [24]:
print(l)

[4, 5, 6, 7, 8, 800]

In [25]:
print(l.append(800))

None

In [26]:
print(l)

[4, 5, 6, 7, 8, 800, 800]

In [27]:
l.append('python')

In [28]:
print(l)

[4, 5, 6, 7, 8, 800, 800, 'python']

In [29]:
l.append(1,2,3)

TypeError: append() takes exactly one argument (3 given)

In [30]:
l.append((1,2,3))
print(l)

[4, 5, 6, 7, 8, 800, 800, 'python', (1, 2, 3)]

## extend

In [31]:
l = [5,6,7,8]

In [32]:
l.extend([800])
print(l)

[5, 6, 7, 8, 800]

In [33]:
l.extend('python')
l

[5, 6, 7, 8, 800, 'p', 'y', 't', 'h', 'o', 'n']

In [34]:
l.extend([7,8,7])
print(l)

[5, 6, 7, 8, 800, 'p', 'y', 't', 'h', 'o', 'n', 7, 8, 7]

### clear

In [35]:
l = [4,5,6]
l.clear()
print(l)

[]

### count

In [36]:
l = [5,6,7,7,7,8,9,7]

l.count(7)

4

In [37]:
l.count(100)

0

In [38]:
l.count(100,7)

TypeError: count() takes exactly one argument (2 given)

### index

In [39]:
l = [4,5,6,7,5,8,5]

In [40]:
l.index(5)

1

In [41]:
l.index(5,3)

4

In [42]:
whos

Variable   Type    Data/Info
----------------------------
c          list    n=4
count      int     2
i          int     4
k          list    n=6
l          list    n=7
m          list    n=4
n          list    n=1
o          list    n=6
p          list    n=3
sum1       int     7
sum2       int     10
t          int     5

## insert

In [43]:
print(l)

[4, 5, 6, 7, 5, 8, 5]

In [44]:
l.insert(0,100)

In [45]:
l

[100, 4, 5, 6, 7, 5, 8, 5]

In [46]:
l.insert(-1,200)

In [47]:
l

[100, 4, 5, 6, 7, 5, 8, 200, 5]

In [48]:
l.insert(100,2000)

In [49]:
l

[100, 4, 5, 6, 7, 5, 8, 200, 5, 2000]

In [50]:
l.insert(-100,2000)

In [51]:
l

[2000, 100, 4, 5, 6, 7, 5, 8, 200, 5, 2000]

## pop

In [52]:
l = [6,7,8,9]
l.pop()
l

[6, 7, 8]

In [53]:
l.pop(1)

7

In [54]:
l

[6, 8]

In [55]:
l.pop(90)

IndexError: pop index out of range

## remove

In [56]:
l = [6,7,8,7,6,8]
l.remove??

In [57]:
l.remove(7)
l

[6, 8, 7, 6, 8]

In [58]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [ ]:
l.remove(3)

In [59]:
l = [1,2,3,4,5,6]

In [60]:
l.reverse()

In [61]:
print(l)

[6, 5, 4, 3, 2, 1]

In [62]:
l[::-1]

[1, 2, 3, 4, 5, 6]

In [63]:
l

[6, 5, 4, 3, 2, 1]

In [64]:
l = [4,5,6,7]
l = l.reverse() # reverse() will return none
print(l)

None

In [65]:
l = [3,4,5]
print(l.reverse())

None

In [66]:
l

[5, 4, 3]

## sort

In [67]:
l = [6,8,4,5,1,7,9]

In [68]:
l.sort()
l

[1, 4, 5, 6, 7, 8, 9]

In [69]:
l.sort(reverse=True)

In [70]:
l

[9, 8, 7, 6, 5, 4, 1]

In [71]:
l = ['python','java','this','hi','hello']

In [72]:
l.sort(key=len,reverse=True)

In [73]:
l

['python', 'hello', 'java', 'this', 'hi']

## difference between sort and sorted

In [74]:
l = [6,3,5,8,7,9]

In [75]:
sorted(l)
print(l)

[6, 3, 5, 8, 7, 9]

In [76]:
l.sort()
print(l)

[3, 5, 6, 7, 8, 9]

In [77]:
l =[6,3,5,8,7,9]
print(sorted(l))

[3, 5, 6, 7, 8, 9]

In [78]:
l

[6, 3, 5, 8, 7, 9]

## `+ and *`

In [79]:
l = [5,6,7]
l + l

[5, 6, 7, 5, 6, 7]

In [80]:

l*4

[5, 6, 7, 5, 6, 7, 5, 6, 7, 5, 6, 7]

### LIST COMPREHENSION
SYNTAX-
``` python
    [ expression for iterator in iterable if <condition> ]
   ```

### WAP to extract list of +ve even numbers from given list
- i/p: [-4,-2,-1,0-1,2,4,5,6,3]
- o/p: [2,4,6]

### use of eval

In [81]:
user = eval(input("Enter the list of numbers"))
print(type(user))

Enter the list of numbers

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [82]:
l = [-4,-2,-1,0-1,2,4,5,6,3]
l2=[]

for i in l:
    if i>=0 and i%2==0:
        l2.insert(0,i)
l2.reverse()
print(l2)

[2, 4, 6]

In [83]:
x = [i for i in l if i>=0 and i%2==0]
print(x)

[2, 4, 6]

## ITERATING THROUGH LIST

In [84]:
l = [6,7,8,9]
for i in l:
    print(l)

[6, 7, 8, 9]
[6, 7, 8, 9]
[6, 7, 8, 9]
[6, 7, 8, 9]

In [85]:
for i,j in enumerate(l):
    print(i,j)

0 6
1 7
2 8
3 9

## sort / sorted -key function

In [86]:
def getlast(s):
    return s[len(s) - 1]

In [87]:
l = ['ab','aa','zc','td']

In [88]:
l.sort()
print(l)

['aa', 'ab', 'td', 'zc']

In [89]:
l.sort(key=getlast)
print(l)

['aa', 'ab', 'zc', 'td']

In [90]:
l.sort(key=getlast,reverse=True)
print(l)

['td', 'zc', 'ab', 'aa']

### WAP to swap first and last element of a list 
- i/p- [4,5,6,7,8]
- o/p- [8,5,6,7,4]

In [91]:
l = [4,5,6,7,8]
l[0],l[-1] = l[-1],l[0]
print(l)

[8, 5, 6, 7, 4]

## UNIVERSAL METHODS
` len, min, max, sum, sorted `

### WAP to sum of elements in given list without using sum function

In [92]:
l = [3,4,5,-1]
sum = 0
for i in l:
    sum = sum + i
print(sum)

11

### WAP to find the sum of elements in a given list, returning 0 if the list is empty. except number 13 is very unlucky, so it does not count it and the number coming immedietly after 13 is also not counted

In [93]:
l = eval(input("Enter the list number"))
sum = 0
for i in l:
    if i==13:
        unlucky = 1
        continue
    if unlucky==1:
        unlucky=0
        continue
    else:
        sum += i
print(sum)

Enter the list number

SyntaxError: unexpected EOF while parsing (<string>, line 0)

### WAP to find the length of longest consecutive element to the given list
- i/p: [6,3,1,2,4]
- o/p: 4

In [94]:
l = [0,1,2,3,5,7,6,100,8,9,8]
l.sort()
print(l)

[0, 1, 2, 3, 5, 6, 7, 8, 8, 9, 100]

In [95]:
count=max = 0

for i in range(len(l)-1):
    if l[i]==l[i+1]-1 :
        count +=1
        if count>max:
            max = count
    elif l[i]==l[i+1]:
        continue
    else:
        count = 0

print(max+1)

5

##

In [96]:
def longest(nums):
    result = 0
    nums = set(nums)
    for num in nums:
        if num-1 not in nums:
            current = num
            length = 1
            while current+1 in nums:
                current += 1
                length += 1
            result = max(result,length)
    return result

In [97]:
longest([0,1,2,3,5,7,6,100,8,9,8])

TypeError: 'int' object is not callable

### WAP to count zeros enclosed between 1 in given sequence of binaries and return the count -
```
i/p: 010000111
o/p: 010100100

i/p: 010100100
o/p: 3

i/p: 001001000100
o/p: 5
```

In [98]:
l = '001001000100'
start = l.find("1")
l1 = l[::-1]
stop = len(l) - l1.find("1")
l.count("0",start,stop)

5

### for a given list of integers A, Let S be sum of the digits of minimum element of A: REturn 0 if S is odd otherwisw 1.
```
input - [34,33,1,24,75,33,54,8]
output - 0

input - [99,77,33,66,55]
output - 1
```

In [99]:
l = [34,33,1,75,33,54,8]
a=min(l)
sum = 0

while a > 1:
    sum = sum + a%10
    a = a//10
if sum%2 == 0:
    print(1)
else:
    print(0)

1

### Program - 448

In [100]:
l = eval(input("Enter the list - "))
print("The original list is - ",l)
count = 0

for i in range(len(l)):
    c = l.copy()
    c.pop(i)
    sum1 = sum(c[::2])
    sum2 = sum(c[1::2])
    if sum1 == sum2:
        print("Index to be removed- ",i)
        count += 1
        print('list after removing index',i,'is',l[:i]+l[i+1:])
print("Total number of special elements are - ",count)

Enter the list -

SyntaxError: unexpected EOF while parsing (<string>, line 0)

### PB_447

In [104]:
l = ['abc','xyz','aba','2112','123451','12345']
count = 0
for i in l:
    if len(i)>=3 and i[0]==i[len(i)-1]:
        count += 1
print(count)

3

# DICTIONARY
- An associative array / mapping 
- Key value pair
- key must be unique i.e. immutable
- Values can be duplicated 
- indexing has no meaning

## create dictionary

In [2]:
d = {}
type(d)

dict

In [3]:
d = dict()
type(d)

dict

In [4]:
d = dict((8,7))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [7]:
d = dict([(1,'apple'),(2,'ball')])

In [8]:
print(d)

{1: 'apple', 2: 'ball'}

In [9]:
d = {1:'apple',2:'ball',3:'cat'}

In [10]:
print(d)

{1: 'apple', 2: 'ball', 3: 'cat'}

In [11]:
d = {5}
type(d)

set

In [15]:
d = {(1,2,3):100,5:'python'}
print(d)

{(1, 2, 3): 100, 5: 'python'}

## keys are immutable

In [16]:
d = {[1,2,3]:100,5:'python'}

TypeError: unhashable type: 'list'

## json is python dictionary

In [21]:
s = {
    'name' : 'python',
    'college' : 'ljiet',
    'subjects':
    {
        'dsa':50,
        'english':100
    }
    
}

print(s)

{'name': 'python', 'college': 'ljiet', 'subjects': {'dsa': 50, 'english': 100}}

## Accessing and adding elements

In [45]:
d = {'name':'python','age':40,'city':'ahmedabad',4:600}

In [46]:
d[0]

KeyError: 0

In [47]:
d[4]

600

In [48]:
d[3]

KeyError: 3

In [49]:
d['name']

'python'

In [50]:
d['name']='java'
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

## get method

In [51]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [52]:
d.get('name')

'java'

In [53]:
print(d.get('job'))

None

In [54]:
print(d.get('id','nothing')) ## here default chnged by nothing

nothing

In [55]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [56]:
d['id'] = ' nothing'

In [57]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': ' nothing'}

## deleting elements

In [58]:
print(d)

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': ' nothing'}

In [61]:
del d['id']
print(d)

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [62]:
del d[4]
print(d)

{'name': 'java', 'age': 40, 'city': 'ahmedabad'}

In [63]:
del d

In [64]:
print(d)

NameError: name 'd' is not defined

## Removing elements through methods

### clear

In [65]:
d = {'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': ' nothing'}

In [66]:
print(d)

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': ' nothing'}

In [67]:
d.clear()

In [68]:
print(d)

{}

### pop

In [70]:
d.pop??

In [71]:
d = {'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': ' nothing'}

In [72]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': ' nothing'}

In [75]:
d.pop('id')

' nothing'

In [76]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [78]:
d.pop(5)

KeyError: 5

### pop item

In [18]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [19]:
d.popitem??

In [20]:
d.popitem()

('id', 'nothing')

In [21]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600}

In [22]:
d.popitem()

(4, 600)

In [23]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad'}

## Looping through dictionary

In [10]:
d = {'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [11]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad', 4: 600, 'id': 'nothing'}

In [12]:
for i in d:
    print(i)

name
age
city
4
id

### accesing key value pair

In [25]:
d.items()

dict_items([('name', 'java'), ('age', 40), ('city', 'ahmedabad')])

### accesing values

In [26]:
d.values()

dict_values(['java', 40, 'ahmedabad'])

In [27]:
for i in d.values():
    print(i)

java
40
ahmedabad

In [28]:
for i in d.keys():
    print(i)

name
age
city

In [29]:
for i,j in d.items():
    print(i,j)

name java
age 40
city ahmedabad

### copy

In [30]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad'}

In [31]:
s = d.copy()
print(s)
print(id(s))
print(id(d))

{'name': 'java', 'age': 40, 'city': 'ahmedabad'}
1754013737280
1753998644736

In [32]:
s['age'] = 100

In [33]:
s

{'name': 'java', 'age': 100, 'city': 'ahmedabad'}

In [34]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad'}

### from keys

In [35]:
d

{'name': 'java', 'age': 40, 'city': 'ahmedabad'}

In [38]:
d.fromkeys??

In [39]:
d.fromkeys(5)

TypeError: 'int' object is not iterable

In [40]:
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [42]:
d.fromkeys('python',50)

{'p': 50, 'y': 50, 't': 50, 'h': 50, 'o': 50, 'n': 50}

In [43]:
d.fromkeys([6,7,8,9],100)

{6: 100, 7: 100, 8: 100, 9: 100}

In [45]:
print(d) # here not overwrite d that means fromkey is view only method

{'name': 'java', 'age': 40, 'city': 'ahmedabad'}

In [46]:
d = d.fromkeys([6,7,8,9],100)

In [47]:
d

{6: 100, 7: 100, 8: 100, 9: 100}

### set default

In [48]:
d

{6: 100, 7: 100, 8: 100, 9: 100}

In [49]:
d.setdefault(10)

In [50]:
d

{6: 100, 7: 100, 8: 100, 9: 100, 10: None}

In [51]:
d.setdefault(11,1000)

1000

In [52]:
d

{6: 100, 7: 100, 8: 100, 9: 100, 10: None, 11: 1000}

In [53]:
d.setdefault(11)

1000

In [54]:
d.setdefault(12)

In [55]:
d

{6: 100, 7: 100, 8: 100, 9: 100, 10: None, 11: 1000, 12: None}

### update

In [57]:
print(d)

{6: 100, 7: 100, 8: 100, 9: 100, 10: None, 11: 1000, 12: None}

In [58]:
d1 = {1:'python',6:'java',3:'C'}

In [59]:
d.update(d1)

In [61]:
print(d)

{6: 'java', 7: 100, 8: 100, 9: 100, 10: None, 11: 1000, 12: None, 1: 'python', 3: 'C'}

### universal methods
` len and sorted`

In [62]:
print(d)

{6: 'java', 7: 100, 8: 100, 9: 100, 10: None, 11: 1000, 12: None, 1: 'python', 3: 'C'}

In [64]:
print(len(d))
print(sorted(d))

9
[1, 3, 6, 7, 8, 9, 10, 11, 12]

In [65]:
100 in d

False

In [66]:
12 in d

True

## dictionary Comprehension
**SYNTAX**

``` python
{key,value [expression]: for key, value in iterable if 
<condition> }
```

In [67]:
squares = {x: x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [68]:
squares = {x: x*x for x in range(6) if x%2 == 0}
print(squares)

{0: 0, 2: 4, 4: 16}

## WAP to  create frequency count for words in given sentance
    input - the quick brown fox jumps over the dog
    output - {'the' : 2, 'quick' : 1, ...}

In [78]:
s = 'the quick brown fox jumps over the dog' 
s = s.split(" ")
count = 0
m = {}
for i in s:
        count = 0
        temp = i
        for j in s:
            if temp == j:
                count += 1
        m[i] = count
print(m)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'dog': 1}

In [1]:
inp = 'the quick brown fox jumps over the dog'
freq = {i: inp.count(i) for i in inp.split()}
print(freq)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'dog': 1}

In [2]:
inp = 'the quick brown fox jumps over the dog'
d = {}
l = inp.split()
for i in l:
    d[i] = d.get(i,0)+1
print(d)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'dog': 1}

### Merge dictionaries

In [3]:
d1 = {1:100,2:200}
d2 = {3:300,4:400,5:500}
d1.update(d2)
d1

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

## PB 449

In [18]:
s = "Don't wait for your feelings to change to take the action. Take the action and your feelings will change "
s = s.split()
x = {}
for i in s:
    f=[]
    for j in s:
        if i[0] == j[0]:
            f.append(j)
    x[i[0]] = f
print(x)

{'D': ["Don't"], 'w': ['wait', 'will'], 'f': ['for', 'feelings', 'feelings'], 'y': ['your', 'your'], 't': ['to', 'to', 'take', 'the', 'the'], 'c': ['change', 'change'], 'a': ['action.', 'action', 'and'], 'T': ['Take']}

##                                          OR

In [19]:
s = "Don't wait for your feelings to change to take the action. Take the action and your feelings will change "
s = s.split()
x = {}
for i in s:
    x[i[0]] = x.get(i[0],[])
    x[i[0]].append(i)
print(x)

{'D': ["Don't"], 'w': ['wait', 'will'], 'f': ['for', 'feelings', 'feelings'], 'y': ['your', 'your'], 't': ['to', 'to', 'take', 'the', 'the'], 'c': ['change', 'change'], 'a': ['action.', 'action', 'and'], 'T': ['Take']}

### WAP to get single digits in numbers sorted backward and converted to english words
```
input - [1,3,4,5,11,12]
output - ['five','four','three','one']

input - [27,3,8,1,31]
output - ['eight',three','one']

In [24]:
ip =  [27,3,8,1,31]
sl = {1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine'}
f=[]
ip.sort(reverse=True)
for i in ip:
    if i>=1 and i<=9:
        f.append(sl.get(i))
print(f)

['eight', 'three', 'one']